* {
    box-sizing: border-box;
}

body {
    font: 0.825em "Cambria", "Georgia", "serif";
}

.container {
    width: 100%;
    margin: 0 auto;
    max-width: 960px;
}

/*
    the replacer of <font /> tag
*/
#main_content {
    font-family: "Arial", "Verdana", "sans-serif";
}

.next {
    display: inline-block;
    text-indent: -9999px;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-left: 12px solid silver;
    height: 24px;
    width: 24px;
    text-align: center;
    line-height: 251px;
    outline:none !important;
}


ul {
    list-style: none;
    margin: 0 auto;
    width: 100px;
}

ul li{
    display: inline-block;
}



.chromeframe {
    position: fixed;
    top: 0px;
    width: 100%;
    text-align: center;
    background-color: white;
    border-bottom: 2px solid black;
    margin: 0px;
    padding: 15px 0;
    background: -moz-linear-gradient(center top , #00C0E0 0%, #0b97c4 45%, #00008B 100%) repeat scroll 0 0 transparent;
    color: white;
}

section {
	font-family: Helvetica, serif;
}

.banner {
	background: url('images/black-bird.jpg') transparent 10px 10px no-repeat;
	font: 12px / 18px Arial, serif, bold;
}