.slideshow {
    width: 173px;
    height: 251px;
    overflow: hidden;
    position: relative;
    display: inline-block;
}

.slide-container > figure {
    display: inline-block;
    padding: 3px;
    border: 1px solid silver;
}

.slide-container figure > img {
    display: block;
}

.slide-container {
    position: absolute;
}

.prev {
    display: inline-block;
    text-indent: -9999px;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-right: 12px solid silver;
    height: 24px;
    width: 24px;
    text-align: center;
    line-height: 251px;
    outline: none !important;
}

/** 
    the css code here is from main.css. Why in main when the code belongs to slider component?
*/
#dots{
    width: 173px;
    margin: 0 12px;
}

.dot {
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 5px 5px 5px 5px;
    background: none repeat scroll 0 0 rgba(101, 101, 102, 0.2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.35) inset;
}


.dot.active {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25) inset;
    background: -moz-linear-gradient(center top , #ff9999 0%, #FF6666 45%, #ff0000 100%) repeat scroll 0 0 transparent;
    /*
        to make active dot more visible
    */
    background: grey;
}